@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    transition: all 5.5s ease-in-out !important;
}

.font-Montserrat {
    font-family: 'Montserrat';
}


.anim-default {
    opacity: 0;
    animation: toOpacity1 2s forwards, translateY20 1.5s 0.3s forwards;
    transform: translateY(20px);
}

.jumbotron div>a:hover {
    text-decoration: underline !important;
}

.jumbotron div>a:active {
    color: initial;
}


.submit_btn:hover {
    background-color: rgba(222, 10, 10, 1) !important;
    color: white !important;
}

.submit_btn:disabled:hover {
    background-color: initial !important;
    color: rgba(222, 10, 10, 1) !important;

}

.submit_btn:focus {
    background-color: rgba(222, 10, 10, 1) !important;
    color: white !important;
    box-shadow: 0px 0px 3px 4px rgba(222, 10, 10, 0.45);
}

.urlInput:focus {
    outline: none;
    box-shadow: 0px 0px 3px 4px rgba(29, 183, 255, 0.45);
    transition: all 0.4s;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemCard a:hover {
    background: rgb(30, 106, 229) !important;
    transition: all 0.2s;
}

.itemCard a:focus {
    box-shadow: 0px 0px 3px 4px rgba(60, 157, 255, 0.571);
    transition: all 0.2s;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 90%;
        transform: scale(100%);
    }
}

@keyframes toOpacity1 {
    to {
        opacity: 1;
    }
}

@keyframes translateY20 {
    to {
        transform: translateY(-20px);
    }
}

@media (max-width: 576px) {
    header div:first-child {
        display: none;
    }

}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 768px) {

    .wrapper-grid {
        grid-template-columns: repeat(auto-fill, min(80%, 380px));
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    section {
        grid-template-columns: 8% 1fr 8% !important;
    }

    .wrapper-grid {
        grid-template-columns: repeat(auto-fill, 50%);
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .wrapper-grid {
        grid-template-columns: repeat(auto-fill, 33.33%);
    }
}